<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="spm.androidworld.all">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
            android:allowBackup="false"
            android:usesCleartextTraffic="true"
            android:debuggable="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="HardcodedDebugMode"
            tools:replace="android:debuggable">
        <activity android:name=".location.CurrentLocationActivity">

        </activity>
        <activity android:name=".android_o.NFeatureActivity" />
        <activity android:name=".android_p.PFeatureActivity" />
        <activity android:name=".android_q.QFeatureActivity" />
        <activity android:name=".fcm.FcmActivity" />
        <activity android:name=".navigation.NavigationActivity">

        </activity>
        <activity android:name=".navigation.welcome.WelcomeMeActivity" />
        <activity android:name=".saveApplicationState.SaveSateOfActivity" />
        <activity android:name=".dagger2.Dagger2Activity" />
        <activity android:name=".communicationWithWebview.MyWebViewActivity" />
        <activity android:name=".security.biometricAuth.BiometricAuthActivity" />
        <activity android:name=".security.encriptedSharedPreference.EncriptedSharedPrefActivity" />
        <activity android:name=".activitylifecycle.LifecycleActivity" />
        <activity android:name=".launchmode.LuncherActivityB" />
        <activity android:name=".launchmode.LuncherActivityA" />
        <activity android:name=".testing.TestingActivity" />
        <activity android:name=".security.SecurityActivity" />
        <activity android:name=".MainActivity" />

        <activity android:name=".xmlParsing.XmlParseActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>