<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="spm.androidworld.all">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
            android:name=".AndroidWorldApplication"
            android:allowBackup="false"
            android:debuggable="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="HardcodedDebugMode"
            tools:replace="android:debuggable">
        <!--        MVI architecture-->
        <activity android:name=".mviArchitecture.MviMainActivity" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
                android:name="com.google.android.wearable.standalone"
                android:value="true" />

        <activity
                android:name=".mvvmWithDataBinding.ui.account.MvvmAccountActivity"
                android:label="@string/title_activity_mvvm_account"
                android:theme="@style/AppTheme.NoActionBar1" />
        <activity
                android:name=".mvvmArchitecture.ui.account.MvvmMyAccountActivity"
                android:label="@string/title_activity_mvvm_account"
                android:theme="@style/AppTheme.NoActionBar1" />
        <activity android:name=".mvpArchitecture.base.BaseMvpActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvvmWithDataBinding.MvvmDataBindingActivity" />
        <activity android:name=".mvvmWithDataBinding.ui.MvvmActivity" />
        <activity android:name=".mvpArchitecture.MvpActivity" />
        <activity android:name=".mviArchitecture.MviActivity" />
        <activity android:name=".cleanArchitecture.CleanArchitectureActivity" />
        <activity
                android:name=".base.use.SecondaryActivity"
                android:theme="@style/AppTheme.NoActionBar1" />
    </application>

</manifest>