<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="spm.androidworld.all">

    <dist:module dist:instant="true" />
    <!--
    <permission android:description="string resource"
                android:icon="drawable resource"
                android:label="string resource"
                android:name="string"
                android:permissionGroup="string"
                android:protectionLevel=["normal" | "dangerous" |
        "signature" | ...] />
    -->
    <permission
            android:name="spm.androidworld.all.myPermission"
            android:label="my_permission"
            android:protectionLevel="dangerous" />

    <uses-permission android:name="spm.androidworld.all.myPermission" />

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />
    <uses-feature
            android:name="android.hardware.bluetooth"
            android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:debuggable="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="HardcodedDebugMode"
            tools:replace="android:debuggable">
        <activity android:name=".sqlcipher.SqlCipherDbActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!-- android:permission="spm.androidworld.all.myPermission" -->
        <activity
                android:name=".CustomPermissionActivity"
                android:exported="true">

            <intent-filter>
                <action android:name="com.testpackage.permissiontestclient.MyAction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".encryptDecryptFiles.EncryptDecryptFileActivity">

        </activity>
        <activity android:name=".hashing.HashingExampleActivity">

        </activity>
        <activity android:name=".RsaEncryptionActivity">

        </activity>
        <activity
                android:name=".AndroidSecurityActivity"
                android:theme="@style/AppTheme.NoActionBar1">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>